<button class="btn text-theme-secondaire toggle-btn btn-masquer">☰</button>

<nav class="sidebar d-flex flex-column p-3 border-end">
	<button class="close-btn">&times;</button>

	<div class="row text-center mb-1">
		<div class="col-lg-12">
			{% if entite.logo != "" %}
				<a href="{{ path('app_administrateur_fuel_dashboard', {'entite' : entite.id}) }}">
					<img class="mb-1 rounded" src="{{ asset('uploads/photos/entite/logo/') }}{{ entite.logo }}" width="100px"/>
				</a>
			{% endif %}
		</div>
	</div>

	{% set canAdmin    = is_granted('ENTITE_ADMIN', entite) %}
	{% set canEmploye  = is_granted('ENTITE_EMPLOYE', entite) %}

	<ul class="nav flex-column">
	

		{% if canAdmin %}


		<li class="nav-item">
			<a href="{{ path('app_administrateur_fuel_dashboard', {'entite' : entite.id}) }}">
				<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_fuel_dashboard' %}text-theme-secondaire{% else %}text-white{% endif %}">
					<i class="bi bi-speedometer2"></i>
					{{ 'navbar.dashboard.title'|trans }}
				</span>
			</a>
		</li>

		


		<li class="nav-item">
			<a href="{{ path('app_administrateur_fuel_calendar_global', {'entite' : entite.id}) }}">
				<span class="{% 
					if app.request.attributes.get('_route') == 'app_administrateur_fuel_calendar_global' or
					app.request.attributes.get('_route') == 'app_administrateur_fuel_calendar_employe' or
					app.request.attributes.get('_route') == 'app_administrateur_fuel_calendar_engin'
				 	%}text-theme-secondaire{% else %}text-white{% endif %}">
					<i class="bi bi-calendar4-week"></i>
					{{ 'navbar.calendar.title'|trans }}
				</span>
			</a>
		</li>



		<li class="nav-item">
			<a href="{{ path('app_administrateur_calendrier_index', {'entite' : entite.id}) }}">
				<span class="{% 
					if app.request.attributes.get('_route') == 'app_administrateur_calendrier_index'
				 	%}text-theme-secondaire{% else %}text-white{% endif %}">
					<i class="bi bi-calendar4-week"></i>
					{{ 'navbar.ressource.title'|trans }}
				</span>
			</a>
		</li>





		<li class="nav-item">
			<a href="{{ path('app_administrateur_fuel_map', {'entite' : entite.id}) }}">
				<span class="{% 
					if app.request.attributes.get('_route') == 'app_administrateur_fuel_map'
				 	%}text-theme-secondaire{% else %}text-white{% endif %}">
					<i class="bi bi-globe-americas"></i>
					{{ 'navbar.map.title'|trans }}
				</span>
			</a>
		</li>


		<hr class="mt-3 mb-1">
		<center>TRANSACTIONS</center>
		<hr class="mt-1 mb-1">



		



		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_note_index' or
					app.request.attributes.get('_route') == 'app_administrateur_note_new' or
					app.request.attributes.get('_route') == 'app_administrateur_note_edit' or
					app.request.attributes.get('_route') == 'app_administrateur_note_show' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuNote" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_note_index',
										'app_administrateur_note_new',
										 'app_administrateur_note_edit',
										 'app_administrateur_note_show',
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-fuel-pump"></i>

				{{ 'navbar.note.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_note_index' or
					app.request.attributes.get('_route') == 'app_administrateur_note_new' or
					app.request.attributes.get('_route') == 'app_administrateur_note_edit' or
					app.request.attributes.get('_route') == 'app_administrateur_note_show' %}show{% endif %}" id="submenuNote">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_note_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_note_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.note.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_note_new', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_note_new' %}text-theme-secondaire{% endif %}">{{ 'navbar.note.add'|trans }}</span>
						</a>
					</li>
					{#<li>
						<a href="{{ path('app_administrateur_planning_TENANT_EMPLOYEs_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_planning_TENANT_EMPLOYEs_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.planning'|trans }}</span>
						</a>
					</li>#}
				</ul>
			</div>
		</li>

		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_tct_index' or
					app.request.attributes.get('_route') == 'app_administrateur_tct_supprimer' or
					app.request.attributes.get('_route') == 'app_administrateur_tct_import' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuTCT" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_tct_index',
										'app_administrateur_tct_supprimer',
										 'app_administrateur_tct_import',
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-fuel-pump"></i>

				{{ 'navbar.tct.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_tct_index' or
					app.request.attributes.get('_route') == 'app_administrateur_tct_supprimer' or
					app.request.attributes.get('_route') == 'app_administrateur_tct_import' %}show{% endif %}" id="submenuTCT">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_tct_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_tct_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.tct.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_tct_import', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_tct_import' %}text-theme-secondaire{% endif %}">{{ 'navbar.tct.import'|trans }}</span>
						</a>
					</li>
					{#<li>
						<a href="{{ path('app_administrateur_planning_TENANT_EMPLOYEs_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_planning_TENANT_EMPLOYEs_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.planning'|trans }}</span>
						</a>
					</li>#}
				</ul>
			</div>
		</li>



		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_tca_index' or
					app.request.attributes.get('_route') == 'app_administrateur_tca_supprimer' or
					app.request.attributes.get('_route') == 'app_administrateur_tca_import' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuTCA" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_tca_index',
										'app_administrateur_tca_supprimer',
										 'app_administrateur_tca_import',
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-fuel-pump"></i>

				{{ 'navbar.tca.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_tca_index' or
					app.request.attributes.get('_route') == 'app_administrateur_tca_supprimer' or
					app.request.attributes.get('_route') == 'app_administrateur_tca_import' %}show{% endif %}" id="submenuTCA">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_tca_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_tca_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.tca.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_tca_import', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_tca_import' %}text-theme-secondaire{% endif %}">{{ 'navbar.tca.import'|trans }}</span>
						</a>
					</li>
					{#<li>
						<a href="{{ path('app_administrateur_planning_TENANT_EMPLOYEs_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_planning_TENANT_EMPLOYEs_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.planning'|trans }}</span>
						</a>
					</li>#}
				</ul>
			</div>
		</li>



		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_tce_index' or
					app.request.attributes.get('_route') == 'app_administrateur_tce_supprimer' or
					app.request.attributes.get('_route') == 'app_administrateur_tce_import' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuTCE" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_tce_index',
										'app_administrateur_tce_supprimer',
										 'app_administrateur_tce_import',
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-fuel-pump"></i>

				{{ 'navbar.tce.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_tce_index' or
					app.request.attributes.get('_route') == 'app_administrateur_tce_supprimer' or
					app.request.attributes.get('_route') == 'app_administrateur_tce_import' %}show{% endif %}" id="submenuTCE">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_tce_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_tce_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.tce.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_tce_import', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_tce_import' %}text-theme-secondaire{% endif %}">{{ 'navbar.tce.import'|trans }}</span>
						</a>
					</li>
					{#<li>
						<a href="{{ path('app_administrateur_planning_TENANT_EMPLOYEs_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_planning_TENANT_EMPLOYEs_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.planning'|trans }}</span>
						</a>
					</li>#}
				</ul>
			</div>
		</li>






		<hr class="mt-3 mb-1">
		<center>COMPTES</center>
		<hr class="mt-1 mb-1">


		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_index' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_modifier' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_external_id_all_index' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_external_id_cards_index' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuUtilisateur" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_utilisateur_index',
										'app_administrateur_utilisateur_ajouter', 
										'app_administrateur_utilisateur_modifier',
										'app_administrateur_utilisateur_external_id_all_index',
										'app_administrateur_utilisateur_external_id_cards_index',
										] %}true{% else %}false{% endif %}">
				<i class="fa-regular fa-user"></i>

				{{ 'navbar.utilisateur.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_index' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_modifier' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_external_id_all_index' or
					app.request.attributes.get('_route') == 'app_administrateur_utilisateur_external_id_cards_index' %}show{% endif %}" id="submenuUtilisateur">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_utilisateur_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_utilisateur_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_utilisateur_ajouter', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_utilisateur_ajouter' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.add'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_utilisateur_external_id_all_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_utilisateur_external_id_all_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.externalId'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_utilisateur_external_id_cards_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_utilisateur_external_id_cards_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.card'|trans }}</span>
						</a>
					</li>
					{#<li>
						<a href="{{ path('app_administrateur_planning_TENANT_EMPLOYEs_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_planning_TENANT_EMPLOYEs_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.utilisateur.planning'|trans }}</span>
						</a>
					</li>#}
				</ul>
			</div>
		</li>


		<hr class="mt-3 mb-1">
		<center>RESSOURCES</center>
		<hr class="mt-1 mb-1">

		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_engin_index' or
					app.request.attributes.get('_route') == 'app_administrateur_engin_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_engin_modifier' or
					app.request.attributes.get('_route') == 'app_administrateur_engin_external_id_all_index' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuEngin" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_engin_index', 'app_administrateur_engin_ajouter', 'app_administrateur_engin_modifier', 'app_administrateur_engin_external_id_all_index'
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-car-front"></i>
				{{ 'navbar.truck.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_engin_index' or
					app.request.attributes.get('_route') == 'app_administrateur_engin_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_engin_modifier' or
					app.request.attributes.get('_route') == 'app_administrateur_engin_external_id_all_index' %}show{% endif %}" id="submenuEngin">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_engin_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_engin_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.truck.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_engin_ajouter', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_engin_ajouter' %}text-theme-secondaire{% endif %}">{{ 'navbar.truck.add'|trans }}</span>
						</a>
					</li>

					<li>
						<a href="{{ path('app_administrateur_engin_external_id_all_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_engin_external_id_all_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.truck.externalId'|trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</li>



		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_materiel_index' or
					app.request.attributes.get('_route') == 'app_administrateur_materiel_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_materiel_modifier' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuMateriel" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_materiel_index', 'app_administrateur_materiel_ajouter', 'app_administrateur_materiel_modifier', 'app_administrateur_engin_external_id_all_index'
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-tools"></i>
				{{ 'navbar.materiel.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_materiel_index' or
					app.request.attributes.get('_route') == 'app_administrateur_materiel_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_materiel_modifier' %}show{% endif %}" id="submenuMateriel">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_materiel_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_materiel_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.materiel.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_materiel_ajouter', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_materiel_ajouter' %}text-theme-secondaire{% endif %}">{{ 'navbar.materiel.add'|trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</li>





		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_dechet_index' or
					app.request.attributes.get('_route') == 'app_administrateur_dechet_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_dechet_modifier' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuDechet" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_dechet_index', 'app_administrateur_dechet_ajouter', 'app_administrateur_dechet_modifier', 'app_administrateur_engin_external_id_all_index'
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-recycle"></i>
				{{ 'navbar.dechet.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_dechet_index' or
					app.request.attributes.get('_route') == 'app_administrateur_dechet_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_dechet_modifier' %}show{% endif %}" id="submenuDechet">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_dechet_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_dechet_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.dechet.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_dechet_ajouter', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_dechet_ajouter' %}text-theme-secondaire{% endif %}">{{ 'navbar.dechet.add'|trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</li>



		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_chantier_index' or
					app.request.attributes.get('_route') == 'app_administrateur_chantier_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_chantier_modifier' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuChantier" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_chantier_index', 'app_administrateur_chantier_ajouter', 'app_administrateur_chantier_modifier', 'app_administrateur_engin_external_id_all_index'
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-cone-striped"></i>
				{{ 'navbar.chantier.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_chantier_index' or
					app.request.attributes.get('_route') == 'app_administrateur_chantier_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_chantier_modifier' %}show{% endif %}" id="submenuChantier">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_chantier_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_chantier_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.chantier.list'|trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_administrateur_chantier_ajouter', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_chantier_ajouter' %}text-theme-secondaire{% endif %}">{{ 'navbar.chantier.add'|trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</li>

		<hr class="mt-3 mb-1">
		<center>Produit</center>
		<hr class="mt-1 mb-1">

		<li class="nav-item">
			<button class="nav-link dropdown-toggle {% if
					app.request.attributes.get('_route') == 'app_administrateur_produit_index' or
					app.request.attributes.get('_route') == 'app_administrateur_produit_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_produit_modifier' %}text-theme-secondaire{% else %}text-white{% endif %}" data-bs-toggle="collapse" data-bs-target="#submenuProduit" aria-expanded="{% if app.request.attributes.get('_route') in [
										'app_administrateur_produit_index', 'app_administrateur_produit_ajouter', 'app_administrateur_produit_modifier'
										] %}true{% else %}false{% endif %}">
				<i class="bi bi-car-front"></i>
				{{ 'navbar.produit.title'|trans }}
			</button>

			<div class="collapse {% if
					app.request.attributes.get('_route') == 'app_administrateur_produit_index' or
					app.request.attributes.get('_route') == 'app_administrateur_produit_ajouter' or
					app.request.attributes.get('_route') == 'app_administrateur_produit_modifier' %}show{% endif %}" id="submenuProduit">
				<ul class="list-unstyled badge fs-6 large fw-normal text-bg-light text-dark w-100">
					<li>
						<a href="{{ path('app_administrateur_produit_index', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_produit_index' %}text-theme-secondaire{% endif %}">{{ 'navbar.produit.list'|trans }}</span>
						</a>
					</li>
										<li>
						<a href="{{ path('app_administrateur_produit_ajouter', {'entite' : entite.id}) }}">
							<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_produit_ajouter' %}text-theme-secondaire{% endif %}">{{ 'navbar.produit.add'|trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</li>







		
























		{#<li class="nav-item">
			<a href="{{ path('app_administrateur_dashboard_index', {'entite' : entite.id}) }}">
				<span class="{% if app.request.attributes.get('_route') == 'app_administrateur_dashboard_index' %}text-theme-secondaire{% else %}text-white{% endif %}">
					<i class="bi bi-speedometer2"></i>
					{{ 'navbar.dashboard.title'|trans }}
				</span>
			</a>
		</li>

		<hr class="mt-3 mb-1">
		<center>COMPTES</center>
		<hr class="mt-1 mb-1">#}






		




		{% endif %}



		{% if canEmploye %}
		{#<hr class="mt-3 mb-1">
		<center>EMPLOYE</center>
		<hr class="mt-1 mb-1">#}


		{% endif %}

	</ul>
</nav>
